body {
	background-color: #882c94;
}

.login {
	background-color: #00af41;
	width: max(50vw, 300px);
	margin-left: 50%;
	margin-top: 50vh;
	transform: translate(-50%, -50%);
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
}

.centeredText {
	color: white;
	text-align: center;
	font-size: max(4.5vw, 45px);
	-webkit-text-stroke-width: max(.1vw,1px);
    -webkit-text-stroke-color: black;
}

input{
	padding: max(.5vw,5px);
	border-radius: 5px;
	margin-bottom: 5%;
	font-size: max(2vw, 20px);
}

.loginbtn {
	margin-left: 50%;
	transform: translate(-50%);
	margin-bottom: 15%;
}

.loginbtn:hover {
	background-color: black;
	color: white;
	cursor: pointer;
}

#bad_pass {
	font-size: max(2vw, 20px);
	font-weight: 700;
	text-align: center;
	color: red;
	-webkit-text-stroke-width: max(.05vw,.5px);
    -webkit-text-stroke-color: black;
    margin-bottom: 5%;
}