body{
	background-color: #242724;
	padding: 0;
	margin: 0;
}

#logoutAnchor {
	position: absolute;
	top: 5%;
	right: 3%;
    color: #21a131;
    text-decoration: underline;
    font-size: max(1.4vw, 14px);
}

#logoutAnchor:hover {
	cursor: pointer;
	color: white;
}

.filtering {
	position: sticky;
	top: 0;
	width: 100%;
	background-color: #101110;
	padding: max(1vw, 10px) 0 max(1vw, 10px) 0;
	z-index: 2;
	text-align: center;
}

.filtering > h1 {
	font-size: max(1vw, 16px);
	font-weight: 700;
	color: white;
	margin: 0;
}

.selectionBlock {
	margin:  10px 0 10px 0;
}

.selectionBlock > label {
	font-size: max(1.4vw, 14px);
	font-weight: 500;
	color: white;
}

.selectionBlock > select {
	font-size: max(1.4vw, 14px);
	margin-left: max(10px, 1vw);
	background: #3f443f;
	color: white;
	text-align: center;
	border: 0px;
	padding: 2px;
	border-radius: 10px;
}

#submitBtn {
	width: auto;
	padding: 5px;
	font-size: max(.9vw, 14px);
}

.filler {
	width: 100%;
	height: max(.7vw, 7px);
	background-color: #101110;
}

.product, .create {
    border: solid #E3e3e1;
	border-width: 1px 0 1px 0;
	padding-top: max(1vw,10px);
	padding-bottom: max(1vw,10px);
	color:  white;
	width: 100%;
	display: grid;
	grid-template-columns: 75% 25%;
}

.details {
	width: 100%;
    border-right: solid #E3e3e1 max(1px, .1vw);
    display: grid;
    justify-items: center;
    padding: 10px 0 10px 0;
}

.text {
	width: 70%;
	grid-column: 1 / 2;
	text-align: center;
	display: flex;
	flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    padding: 5px 0 5px 0;
	border-radius: 10px;
	background-color: rgba(96, 99, 97, .1);
}

.brand {
	font-size: max(1.4vw, 14px);
	margin: max(6px, .6vw) 0 max(6px, .6vw) 0;
}

.description {
	width: 70%;
	font-weight: 500;
	font-size: max(1vw, 10px);
	margin: max(6px, .6vw) 0 max(6px, .6vw) 0;
}

.upc {
	font-size: max(1.2vw, 12px);
	margin: max(6px, .6vw) 0 max(6px, .6vw) 0;
}

.forms {
	grid-column: 2 / 3;
	text-align: center;
	display: flex;
	flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

input[type=number] {
	text-align: center;
	font-size: max(1.6vw, 16px);
	color: white;
	background-color: #3f443f;
	padding: 5px 0 5px 0;
	border-radius: 5px;
	width: 50%;
	margin-left: 50%;
	transform: translateX(-50%);
}

input[type=text] {
	text-align: center;
	font-size: max(1.6vw, 16px);
	color: white;
	background-color: #3f443f;
	border-radius: 5px;
	width: 75%;
	margin-left: 75%;
	transform: translateX(-50%);
	padding: 5px 0 5px 0;
}

.delete {
	width: 50%;
}

input[type=submit]{
	width: 100%;
	color: #E3e3e1;
	background-color: #21a131;
	border: 0px;
	border-radius: 5px;
	font-size: max(1.6vw, 16px);
	font-weight: 700;
	padding: 5px 0 5px 0;
}

input[type=submit]:hover {
	cursor: pointer;
	background-color: white;
	color: black;
}

.text > input {
	margin-top: 10px;
	margin-bottom: 10px;
}

@media (min-width: 719px) {
	body {
	    display: flex;
	    flex-direction: row;
	    flex-wrap: wrap;
	    align-content: center;
	    justify-content: center;
	    align-items: center;
	    background-color: #353535;
	}
	.selectionBlock {
		display: inline-block;
		margin: max(1.5vw, 15px) 5% max(1vw, 10px) 0;
	}
	.filtering > h1 {
		font-size: max(1.6vw, 16px);
	}
	.product, .create {
		display: inline-grid;
		width: 30%;
		border-width: 1px;
		border-radius: 15px;
		margin: 25px 0 0 0;
		height: max(15vw, 150px);
		background-color: #171a17;
	}
	.create {
		margin-left: 50%;
		transform: translateX(-75%);
		height: auto;
	}
	.filler {
		background-color: transparent;
		width: 2%;
		display: inline;
	}
}