<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
          <link rel="stylesheet" href="{% static 'home.css' %}">
        {% load static %}
        <title>PSP Login</title>
    </head>
    <body>
        <div class="login">
            {% if request.user.is_active %}
                <form class='loggedIn' method="post">
                    {% csrf_token %}
                    <input type="submit" name="reroute" value="View Stock">
                </form>
            {%else%}
                <form method="post">
                    {% csrf_token %}
                    <h2 class="centeredText">Log In</h2>
                        <div class="FormCollection">
                            <div class="InputParent">
                                <input type="text" class="InputChild" name="username" placeholder="Username" required="required">
                            </div>
                        </div>
                    <div class="FormCollection">
                        <div class="InputParent">
                            <input type="password" class="InputChild" name="password" placeholder="Password" required="required">
                        </div>
                        {% if incorrect %}
                            <section id='bad_pass'>
                                Incorrect Password!
                            </section>
                        {% endif %}
                    </div>
                        <div class="FormCollection">
                            <input type="submit" class="loginbtn" value="Sign In">
                        </div>
                </form>
            {%endif%}
        </div>
    </body>
</html>